.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slide
{
    display: none;
    float: left;
}
.slick-initialized .slick-slide
{
    display: block;
}